<form method="post">
    <label for="id"> Id : </label>
        <input type="hidden" value="{{ item.id }}" name="id">
    <label for="title"> Titre : </label>
        <input type="text" value="{{ item.title }}" name="title" title="item">
    <div class="button">
        <button type="submit">Envoyer votre message</button>
    </div>
</form>
