{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit category {{ category.title }}</h1>
    {% include 'Category/_form.html.twig' %}
    <a href="/item/{{ category.id }}">Back</a>
{% endblock %}
